<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="10" lg="8">
        <v-card class="shadowCard">
          <v-card-title primary-title>
            <span class="text-body-1">Servicios</span>
            <v-spacer></v-spacer>
            
            <v-btn
              color="primary"
              dark
              class="mr-2"
              @click="dialog = true"
              small
              tile
            >
              <v-icon left small>mdi-plus</v-icon>
              Agregar
            </v-btn>

            <v-btn
              color="orange"
              dark
              @click="initialize()"
              small
              tile
            >
              <v-icon left small>mdi-refresh</v-icon>
              Actualizar
            </v-btn>

          </v-card-title>

          <v-card-text>

          	<!-- Buscador -->
            <v-row justify="end">
              <v-col cols="12" md="8" lg="6">
                <v-card-text class="py-0">
                  <v-text-field
                    prepend-inner-icon="mdi-magnify"
                    label="Buscar"
                    id="id"
                    filled
                    dense
                    v-model="search"
                  ></v-text-field>
                </v-card-text>
              </v-col>
            </v-row>

	          <v-data-table
	            :headers="headers"
	            :items="servicios"
	            class="elevation-0"
	            :search="search"
	            dense
	            :page.sync="page"
	            @page-count="pageCount = $event"
	            hide-default-footer
	          > 
	          	<template v-slot:item.actions="{ item }">
	              <v-btn
	                x-small
	                class="mr-2"
	                @click="editItem(item )"
	                color="green"
	                dark
	              >
	                <v-icon small>mdi-magnify</v-icon>
	              </v-btn>

	              <v-btn
	                x-small
	                @click="deleteItem(item )"
	                color="red"
	                dark
	              >
	                <v-icon small>mdi-delete</v-icon>
	              </v-btn>

	            </template>


	            <template v-slot:no-data>
	              <v-btn
	                color="primary"
	                small
	                @click="initialize"
	              >
	                Actualizar
	              </v-btn>
	            </template>
	          </v-data-table>
	        </v-card-text>
          
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              v-model="page"
              :length="pageCount"
              circle
              :total-visible="7"
            ></v-pagination>
        	</v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- Agregar una entrada -->
    <!-- Dialogo de editar o agregar-->
	  <v-dialog
      v-model="dialog"
      max-width="400px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <span class="text-subtitle-1">
          	<strong>ID: {{ editedItem.idservicios }}</strong>
          </span>
        </v-card-title>

        <v-card-text class="black--text">
      		<label>Nombre del servicio</label>
          <v-text-field
            v-model="editedItem.servicio"
            label="Consulta general"
            single-line
            dense
            outlined
          ></v-text-field>

          <label>Costo</label>
          <v-text-field
            v-model="editedItem.costo"
            prefix="$"
            label="65"
            single-line
            dense
            outlined
            type="number"
          ></v-text-field>

          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="black"
            dark
            small
            class="text-capitalize"
            @click="close"
            tile
          >
            <v-icon small left>mdi-cancel</v-icon>
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="green"
            dark
            small
            class="text-capitalize"
            tile
            @click="save"
          >
            <v-icon small left>mdi-content-save</v-icon>
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialogo para eliminar -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
      	<v-card-title primary-title>
      	  <div class="text-subtitle-1" style="display: table-cell; vertical-align: middle;">
    				<strong>Eliminar</strong> ¿Estás seguro que deseas eliminar el dato?
    			</div>
      	</v-card-title>
      	<v-card-actions>
  				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
  			  <v-btn color="error" text  class="mr-2" @click="closeDelete()">No, cancelar</v-btn>
  			  <!-- Guardar la información  -->
  			  <v-spacer></v-spacer>
  			  <v-btn color="#5C5C5C"  dark class="elevation-6"  @click="deleteItemConfirm()">Si</v-btn>
      	</v-card-actions>
      </v-card>
    </v-dialog>


    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>
<script>
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'

  import {mapActions, mapGetters} from 'vuex'
  
  export default {

    mixins: [ validarErrores],
    
    components: {
      Alerta,
      carga
    },

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      search2:'',
      page: 1,
      pageCount: 0,
  
      inicio:null,
      fin:   null,

      loading: true,

      search:'',
      servicios:[],

      headers: [
        { text: 'ID'         , value: 'idservicios'  },
        { text: 'Servicio'   , value: 'servicio'     },
        { text: 'Costo'      , value: 'costo'        },
        { text: 'Actions'    , value: 'actions'      },
      ],

      ventas:[],

      valid: true,

      dialog: false,

      categorias: [],
      editedIndex: -1,

      editedItem: {
      	idservicios:0,
        servicio:'',
        costo:'',
        deleted:0
      },

      defaultItem: {
      	idservicios:'',
        servicio:'',
        costo:'',
        deleted:0
      },

      dialog: null,
      dialogDelete: false

    }),

    computed: {
    	...mapGetters("UsuarioHope", ["getUsuarioHope", "getLogeadoHope"]),

      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo servicio' : 'Editar servicio'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods:{

      initialize(){
        this.servicios= []
        this.cargar = true

        return this.$http.get('servicios.get' ).then(response =>{
          this.cargar = false
          this.servicios = response.body
        }).catch(error=>{
          this.validarError(error)
        }).finally(()=> { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.servicios.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.servicios.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	this.cargar = true

      	this.editedItem.deleted = 1
        // Lo mandapos por el EP
        this.$http.put('servicios.update/' + this.editedItem.idservicios, this.editedItem).then(response=>{
        	this.cargar = true
        	this.closeDelete()
        	this.initialize()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      updateEstatus( item, estatus, deleted ){

      	const payload = { estatus, deleted }

      	this.cargar = true

      	this.$http.put('servicios.update/' + item.idservicios, payload).then(response=>{
        	this.initialize()
      		this.close()
        	this.cargar = false
        }).catch( error =>{
        	this.validarError( error )
      	}).finally( () => { this.cargar = false })
      },

      save () {
      	const { servicio, costo } = this.editedItem

      	if( servicio == '' || costo == '' ){
      		this.validarErrorDirecto('Favor de llenar todos los campos')
      	}

	      this.cargar = true

        if (this.editedIndex > -1) {
	        // Lo mandapos por el EP
          this.$http.put('servicios.update/' + this.editedItem.idservicios, this.editedItem).then(response=>{
          	this.validarSuccess( response.body.message )
          	this.initialize()
        		this.close()
	        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })

        } else {
	        // Lo mandapos por el EP
          this.$http.post('servicios.add', this.editedItem).then(response=>{
          	this.initialize()
        		this.close()
	        	this.cargar = false
	        }).catch( error =>{
          	this.validarError( error )
        	}).finally( () => { this.cargar = false })
        }
      },
    },
  }
</script>
