<template>
  <v-container class="fill-height">
  
    <v-row align="center" justify="center" class="align-end" align-content="center">
      <v-col cols="12" sm="6" md="6" lg="4" xl="3" align="center" justify="center">
        <v-card class="elevation-10 shadowCard">
          <v-card-title primary-title>
            <v-img src="@/assets/logo.png"></v-img>
          </v-card-title>
          <v-divider class="ma-4"></v-divider>
          <v-form 
            ref="form"
            v-model="valid"
            lazy-validation>
            <v-card-text class="pb-0 text-left">
              <label>Usuario</label>
              <v-text-field
                dense
                prepend-inner-icon="mdi-account"
                placeholder="usuario@hope.mx"
                v-model="email"
                clearable
                dense
                :rules="[v => !!v || 'Item is required']"
                filled
              ></v-text-field>
              <label>Contraseña</label>
              <v-text-field
                dense
                prepend-inner-icon="mdi-lock"
                placeholder="********"
                v-model="password"
                clearable
                dense
                :rules="[v => !!v || 'Item is required']"
                filled
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword"
                @keyup.enter="validate()"
              ></v-text-field>
            </v-card-text>
            <v-card-actions class="px-4 pb-6">
              <v-btn tile block class="btn-login" @click="validate()" dark>Iniciar sesión</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-row>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>


<script>
  // import router from '@/router'
  import {mapActions , mapGetters} from 'vuex'

  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'

  export default {

    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores, funcionesExcel ],

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,


      acceso: false,
      nombre_completo: "",
      cargo: "",
      datos_usuario: {},

      show1: false,
      error: '',

      password: '',
      email:'',

      value:'',

      valid: true,
      rules: {
        required: value => !!value || 'Requerido.'
      },
      showPassword: false,

    }),

    computed:{
      ...mapGetters('UsuarioHope',['getUsuarioHope', 'getLogeadoHope']),
    },

    methods:{
      ...mapActions('UsuarioHope',['guardarInfo','salirLogin']),

      validate () {
        if(this.$refs.form.validate()){

          this.cargar = true

          const payload = { 
            correo  : this.email,
            password: this.password 
          }

          this.$http.post('usuario.acceso', payload).then((response) => {
            this.cargar = false
            this.acceso = true
            this.datos_usuario = response.body
            this.guardarInfo(this.datos_usuario)
            this.$router.push({name: 'Home'})
          }).catch( error =>{
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        }
      }
 
    }
  }
</script>

<style scoped>
  
  .btn-login{
    background: rgb(0,26,252);
background: linear-gradient(90deg, rgba(0,26,252,1) 0%, rgba(0,255,252,1) 100%);
  }
</style>


  