<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogAgenda.estatus"
      transition="dialog-bottom-transition"
      max-width="1000"
      persistent
    >
	  	<!-- CONTENEDOR -->
	  	<v-card>
	  		<v-card-title primary-title>
	  		  Agenda del paciente
	  		  <v-spacer></v-spacer>

	  		  <v-btn fab small text @click="dialogAgenda.estatus = false"><v-icon>mdi-close</v-icon></v-btn>

	  		</v-card-title>

	  		<v-card-text>
	  			<v-row>
	  				<!-- Seleccionar al paciente que tomará la terapia -->
            <v-col cols="12" lg="6">
              <label>Paciente</label>
              <v-autocomplete
                dense
                v-model="paciente"
                :items="pacientes"
                item-text="nombre_completo"
                item-value="idusuarios"
                hide-details
                single-line
                placeholder="paciente..."
                filled
                clearable
              >
              </v-autocomplete>
            </v-col>
	  			</v-row>

	  			<v-row class="fill-height">
				    <v-col>
				      <v-sheet height="64">
				        <v-toolbar
				          flat
				        >
				          <v-btn
				            outlined
				            class="mr-4"
				            color="grey darken-2"
				            @click="setToday"
				          >
				            Today
				          </v-btn>
				          <v-btn
				            fab
				            text
				            small
				            color="grey darken-2"
				            @click="prev"
				          >
				            <v-icon small>
				              mdi-chevron-left
				            </v-icon>
				          </v-btn>
				          <v-btn
				            fab
				            text
				            small
				            color="grey darken-2"
				            @click="next"
				          >
				            <v-icon small>
				              mdi-chevron-right
				            </v-icon>
				          </v-btn>
				          <v-toolbar-title v-if="$refs.calendar">
				            {{ $refs.calendar.title }}
				          </v-toolbar-title>
				          <v-spacer></v-spacer>
				          <v-menu
				            bottom
				            right
				          >
				            <template v-slot:activator="{ on, attrs }">
				              <v-btn
				                outlined
				                color="grey darken-2"
				                v-bind="attrs"
				                v-on="on"
				              >
				                <span>{{ typeToLabel[type] }}</span>
				                <v-icon right>
				                  mdi-menu-down
				                </v-icon>
				              </v-btn>
				            </template>
				            <v-list>
				              <v-list-item @click="type = 'day'">
				                <v-list-item-title>Day</v-list-item-title>
				              </v-list-item>
				              <v-list-item @click="type = 'week'">
				                <v-list-item-title>Week</v-list-item-title>
				              </v-list-item>
				              <v-list-item @click="type = 'month'">
				                <v-list-item-title>Month</v-list-item-title>
				              </v-list-item>
				              <v-list-item @click="type = '4day'">
				                <v-list-item-title>4 days</v-list-item-title>
				              </v-list-item>
				            </v-list>
				          </v-menu>
				        </v-toolbar>
				      </v-sheet>
				      <v-sheet height="600">
				        <v-calendar
				          ref="calendar"
				          v-model="focus"
				          color="primary"
				          :events="filterCitas"
				          :event-color="getEventColor"
				          :type="type"
				          @click:event="showEvent"
				          @click:more="viewDay"
				          @click:date="viewDay"
				        ></v-calendar>
				        <v-menu
				          v-model="selectedOpen"
				          :close-on-content-click="false"
				          :activator="selectedElement"
				          offset-x
				        >
				          <v-card
				            color="grey lighten-4"
				            min-width="350px"
				            flat
				          >
				            <v-toolbar
				              :color="selectedEvent.color"
				              dark
				              dense
				            >
				              <v-toolbar-title v-html="selectedEvent.paciente" class="text-subtitle-1"></v-toolbar-title>
				              <v-spacer></v-spacer>
				            </v-toolbar>
				            <v-card-text class="black--text">
				              <b>Terapeuta:</b> {{ selectedEvent.terapeuta }}
				              <br/>
				              <b>Coordinación: </b> {{ selectedEvent.name }}
				              <br/>
				              <b>Inicio: </b> {{ selectedEvent.hora_inicio }}
				              <b>a Final </b> {{ selectedEvent.hora_final }}
				              <br/>
				              <b>Servicio: </b> {{ selectedEvent.servicio }}
				              <br/>
				              <b>Teléfono: </b> {{ selectedEvent.telefono }}
				              <br/>
				              <b>Costo: </b> ${{ selectedEvent.costo }}

				              <!-- HOISTORIAL -->
					            <p 
					            	v-for="(nota, j ) in selectedEvent.historial"
	                      :key="j"
	                      class="mt-2 black--text" 
	                      style="white-space: pre-line"
	                    >
	                      {{ nota.notas }}
	                    </p>
				            </v-card-text>
				            <v-card-actions>
				              <v-btn
				                tile
				                text
				                small
				                color="secondary"
				                @click="selectedOpen = false"
				              >
				              	<v-icon small left>mdi-close</v-icon>
				                Cerrar
				              </v-btn>

				              <v-spacer></v-spacer>
				              <v-btn
				                tile
				                small
				                color="red"
				                dark
				                v-if="selectedEvent.estatus == 1"
				                @click="confirmarDelete( selectedEvent )"
				              >
				              	<v-icon small left>mdi-delete</v-icon>
				                Eliminar
				              </v-btn>

				            </v-card-actions>
				          </v-card>
				        </v-menu>
				      </v-sheet>
				    </v-col>
				  </v-row>
	  		</v-card-text>
	  	</v-card>
    </v-dialog>

    <!-- AGENDAR CITA -->
    <v-dialog
      v-model="dialogCita"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="text-h5">
          Agendar una cita
        </v-card-title>
        <v-card-text>
        	<v-text-field
        	  label="Día"
        	  filled
        	  type="date"
        	  v-model="fecha_cita"
        	></v-text-field>

        	<v-text-field
        	  label="Hora inicio"
        	  filled
        	  type="time"
        	  v-model="hora_inicio"
        	></v-text-field>

        	<v-text-field
        	  label="Hora final"
        	  filled
        	  type="time"
        	  v-model="hora_final"
        	></v-text-field>

        </v-card-text>
        <v-card-actions>
          <v-btn
            color="red"
            small
            rounded
            dark
            @click="dialogCita = false"
          >
            Cancelar
          </v-btn>
          
          <v-spacer></v-spacer>
          
          <v-btn
            color="green"
            small
            rounded
            dark
            @click="agregarCita( )"
          >
            Agendar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialogo para saber que voy a eliminar -->
    <v-dialog
      v-model="dialogConfirmacionDelete"
      scrollable
      max-width="300px"
    >
      <v-card>
        <v-card-title class="text-subtitle-1">Eliminar Cita</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
        	<div>Selecciona una opción</div>

          <v-radio-group
            v-model="tipoDelete"
            column
            small
            dense
          >
            <v-radio
              label="Eliminar solo esta cita"
              :value="1"
            ></v-radio>

            <v-radio
              label="Eliminar esta y las siguientes"
              :value="2"
            ></v-radio>

            <v-radio
              label="Eliminar todas"
              :value="3"
            ></v-radio>

          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            color="black"
            tile
            small
            dark
            @click="dialogConfirmacionDelete = false, cita = null"
          >
          	<v-icon small left>mdi-cancel</v-icon>
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="green"
            tile
            small
            dark
            @click="deleteCita()"
          >
          	<v-icon>mdi-content-save</v-icon>
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-row>
</template>

<script>

	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';


  import validarErrores        from '@/mixins/validarErrores'

  export default {
  	components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    props:[
      'dialogAgenda',
      'agenda',
    ],

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      focus: '',
      type: 'month',
      typeToLabel: {
        month: 'Month',
        week: 'Week',
        day: 'Day',
       '4day': '4 Days',
      },
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      events: [],
      dialogCita:false,
      fecha_cita  : (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10), 
			hora_inicio : null,
			hora_final  : null,

			pacientes      : [],
			paciente: null,

			cita: null,
			dialogConfirmacionDelete: false,
			tipoDelete: 0,
    }),

    async created () {
      this.url = this.$http.options.root + "imagenes-hope/"
    	await this.getPacientes()

    },

    mounted () {
    	this.cargar = true

    	let event = []

    	for( const i in this.agenda ){
    		console.log( this.agenda[i])
    		const { coordinacion, color, fecha_cita, hora_inicio, hora_final, paciente } = this.agenda[i]
    		event.push({
          name :  paciente,
          start: fecha_cita + ' ' + hora_inicio,
          end  :   fecha_cita + ' ' + hora_final,
          color: color,
          ti   : false,
          ...this.agenda[i]
        })

    	}

    	this.cargar = false

    	this.events = event

      this.$refs.calendar.checkChange()

    },

    computed: {
    	...mapGetters("UsuarioHope", ["getUsuarioHope", "getLogeadoHope"]),

    	filterCitas( ){
    		if( this.paciente ){
    			return this.events.filter( el => { return el.id_paciente == this.paciente })
    		}else{
    			return this.events
    		}
    	}
    },

    methods: {
    	viewDay ({ date }) {
        this.focus = date
        this.type = 'day'
      },
      getEventColor (event) {
        return event.color
      },
      setToday () {
        this.focus = ''
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      showEvent ({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          requestAnimationFrame(() => requestAnimationFrame(() => open()))
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },

      cargarCitas () {
      	this.cargar = true
        this.events = []
        return this.$http.get('agenda.citas.get').then(response=>{
        	this.events      = response.body
        	this.cargar      = false
        	this.cargar = true

		    	let event = []

		    	for( const i in response.body ){
		    		const { coordinacion, color, fecha_cita, hora_inicio, hora_final } = response.body[i]
		    		event.push({
		          name:  coordinacion,
		          start: fecha_cita + ' ' + hora_inicio,
		          end:   fecha_cita + ' ' + hora_final,
		          color: color,
		          ti: false,
		          ...response.body[i]
		        })

		    	}

		    	this.cargar = false

		    	this.events = event

		      this.$refs.calendar.checkChange()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getPacientes () {
      	this.cargar = true
        this.pacientes = []
        return this.$http.get('usuarios.pacientes').then(response=>{
        	this.pacientes = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      confirmarDelete( value ){
      	this.cita = value
      	this.dialogConfirmacionDelete = true
      },

      deleteCita( ){
      	this.cargar = true
        
      	// Preparamos el payload y juntamos ambos campos
      	const payload = {
      		...this.cita,
      		tipoDelete: this.tipoDelete
      	}

        return this.$http.post('agenda.delete', payload).then(response=>{
        	this.dialogConfirmacionDelete = false
        	this.cargarCitas()
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })

      }
    },
  }
</script>
<style>
  .lateral .v-btn--example {
    bottom: 0;
    position: absolute;
    margin: 0 0 16px 16px;
    padding: 0px !important;
    min-width: 50px !important;
  }

  .lateral .v-btn--descuento{
    bottom: 0;
    position: absolute;
    margin: 0 0 0px 0px;
    min-width: 50px !important;
    z-index: 1;
  }

</style>