<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogHistorial.estatus"
      transition="dialog-bottom-transition"
      max-width="1000px"
      persistent
    >
      <v-card>

      	<v-card-title primary-title>
      	  Historial
          <v-spacer></v-spacer>
          <v-btn
            icon
            @click="dialogHistorial.estatus = false"
          >
            <v-icon >mdi-close</v-icon>
          </v-btn>
      	</v-card-title>

        <!-- Datos general del usaurios -->
        <v-container>

        	<!-- CONTENEDOR -->
        	<v-card class="transparent elevation-0">
        		<v-card-text class="black--text">

			        <v-row class="mb-4">

			        	<!-- FOTO DE PERFIL DEL PACIENTE -->
			        	<v-col cols="12" md="5" lg="3">
			        		<v-card class="shadowCard" align="center">
			        			<v-card-text>
						          <v-avatar size="160">
									      <v-img
									      	v-if="paciente.foto"
									        :src="url + paciente.foto"
									        alt="Paciente"
									      />
									      <v-img 
									      	v-else
									      	src="@/assets/agregar_foto.jpg"
									        alt="Paciente"
									      />
									    </v-avatar>
									    <br/>
									    <br/>
					        		
					        		<!-- Datos personales -->
					        		<b>Nombre:</b>
					        		<br/>
					        		{{ paciente.nombre_completo }}
					        		<br/>

					        		<div class="mt-2"><b>Sexo:</b></div>
					        		{{ paciente.sexo == 1 ? 'Masculino' : 'Femenino'}}
					        		
					        		<div class="mt-2"><b>Edad:</b></div>
					        		{{ paciente.edad }}

					        		<div class="mt-2"><b>Teléfono:</b></div>
					        		{{ paciente.telefono ? paciente.telefono : 'Sin teléfono' }}
			        			</v-card-text>
			        		</v-card>
			        	</v-col>

			        	<v-col cols="12" md="7" lg="9">

			        		<label class="font-weight-semibold text-h6">Historial de consultas</label>

			        		<v-alert
			        			v-if="!agenda.length"
							      icon="mdi-shield-lock-outline"
							      prominent
							      text
							      type="info"
							    >
							      El paciente aún no cuenta con un historial.
							    </v-alert>

			        		<v-expansion-panels>
							      <v-expansion-panel
				        			v-for="( cita, i ) in agenda"
						        	class="mb-4"
						        	:color="cita.color"
						        	small
						        	:key="i"
							     	>
							        <v-expansion-panel-header @click="citaAgendada = cita">
							        	<v-row no-gutters>
							        		
							        		<!-- TERAPEUTA -->
							        		<v-col cols="12" md="6" lg="6">
								            <b class="black--text">Terapeuta:</b>
								            <br/>
								            <span class="black--text">{{ cita.terapeuta }}</span>
								            <br/>
								            <br/>
								            <b class="black--text">Coordinación:</b>
								            <br/>
								            <span class="black--text">{{ cita.coordinacion }}</span>
							        		</v-col>
							        		
							        		<!-- FECHA DE LA CITA -->
							        		<v-col cols="12" md="6" lg="3">
								            <b class="black--text">Fecha:</b>
								            <br/>
								            {{ cita.fecha_cita }}
								            <br/>
								            <br/>
								            <b class="black--text">Horario:</b>
								            <br/>
								            <span class="text-caption">{{ cita.hora_inicio }} a {{ cita.hora_final }}</span>
							        		</v-col>

							          	<!-- COORDINACION -->
							        		<v-col cols="12" md="6" lg="3">
								            <v-chip
								              class="white--text ml-0 mr-2"
								              :color="cita.estatus == 1 ? 'grey' : 'green' "
								              small
								            >
								              {{ cita.estatus == 1 ? 'Pendiente' : 'Asistencia' }}
								            </v-chip>

							        		</v-col>
							        	</v-row>

							        	<!-- ICONO EXPAND -->
							          <template v-slot:actions>
							            <v-icon color="primary">
							              $expand
							            </v-icon>
							          </template>
							        </v-expansion-panel-header>

							        <v-expansion-panel-content>
							          <!-- EL MATERIAL O CARROUSEL DE FOTOS -->
								      	<v-row>
								      		<v-col cols="12">

								      			<v-subheader class="ml-0 pl-0 mb-0 pb-0">Bitacora: </v-subheader>

								      			<!-- Anotaciones -->
								            <v-textarea
							              	label="Notas: "
							              	filled
							              	v-model="anotaciones"
							              	v-if="cita.estatus == 1"
							              	rows="3"
							              	auto-grow
							              >
							              </v-textarea>

						                <v-file-input
						                  small-chips
						                  multiple
						                  filled
						                  dense
						                  v-model="files"
						                  accept="image/png, image/jpeg, image/bmp"
						                  placeholder="Selecciona tus imagenes"
						                  prepend-icon="mdi-camera"
						                  label="Imágenes"
						                  @change="cargarFotos()"
						                  v-if="cita.estatus == 1"
						                  single-line
						                ></v-file-input>

						                <v-row class="mb-0">
								              <v-col cols="12" md="4" lg="3" v-for="(img, i) in vistaPrevias" :key="i">
								                <v-card class="py-4 shadowCard">
								                  <v-img :src="img.url" contain aspect-ratio="2"></v-img>
								                  <v-btn 
								                    color="error" 
								                    small 
								                    @click="eliminarFoto(img.url)"
								                    top
								                    right
								                    absolute
								                    fab
								                  >
								                    <v-icon>mdi-delete</v-icon>
								                  </v-btn>
								                </v-card>
								              </v-col>
								            </v-row>

							              <v-btn 
							              	color="success"
							              	v-if="cita.estatus == 1"
							              	small
							              	@click="grabarInforme()"
							              	tile
							              >
							              <v-icon left small>mdi-content-save</v-icon>
							            		Grabar informe
							            	</v-btn>

								            <v-textarea 
								            	v-for="(nota, j ) in cita.historial"
				                      :key="j"
				                      class="mt-2 black--text" 
				                      v-model="nota.notas"
				                      filled
				                      rows="3"
				                      auto-grow
				                      readonly
				                    >
				                    </v-textarea>
								      		</v-col>

								      		<!-- EVIDENCIA _ FOTOS _ VIDEOS _ ETC  -->
									        <v-col cols="12" md="6" lg="4"
									        	v-for="( evidencia, k ) in cita.evidencias"
									        	:key="k"
									        >
										        <v-card class="shadowCard lateral" height="100%" @click="verFoto( url + evidencia.foto )">
										          <!-- IMAGEN PRINCIPAL -->
										          <v-img 
										            :src="url + evidencia.archivo"
										            height="200px" 
										            contain 
										            class="white"
										          >
										          </v-img>
										        </v-card>
										      </v-col>
								      	</v-row>
							        </v-expansion-panel-content>
							      </v-expansion-panel>
							    </v-expansion-panels>
			        	</v-col>
			        </v-row>
        		</v-card-text>
        	</v-card>
        </v-container>

      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-row>
</template>

<script>

	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import AgendaPaciente        from '@/components/paciente/AgendaPaciente.vue';


  import validarErrores        from '@/mixins/validarErrores'

  export default {
  	components:{
      Alerta,
      carga,
      AgendaPaciente
    },

    mixins: [ validarErrores ],

    props:[
      'dialogHistorial',
      'paciente'
    ],

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      url:'',
    	events: [],
      input: null,
      nonce: 0,
      zoomFoto: '',
      dialogZoomFoto: false,
      dialogAgenda:{
      	estatus: false
      },

      agenda:[],
      anotaciones: '',
      fotos:[],
      files: [],
      vistaPrevias:[],

      citaAgendada: null
    }),

    async created () {
    	console.log( this.paciente )
      this.url = this.$http.options.root + "imagenes-hope/" 
      this.getHistorialPaciente()
    },

    computed: {
      
    },

    methods: {
      getHistorialPaciente( ){
      	this.agenda = []
      	this.cargar = true
      	this.$http.get('agenda.citas.usuario/' + this.paciente.idusuarios ).then(response=>{
      		console.log( response.body )
        	this.agenda = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      verFoto( value ){
      	this.zoomFoto = value
      	this.dialogZoomFoto = true
      },

      async grabarInforme( ){
      	// this.cargar = true
        let fotos = []

        if(this.vistaPrevias.length){
          let respuesta = await this.subirFotosServidor( )
          fotos = respuesta.body
        }

        var payload = {
          idagenda_cita : this.citaAgendada.idagenda_citas,
					notas         : this.anotaciones,
          fotos
        };

        this.$http.post('historial.cita.add', payload).then((response) => {
        	this.vistaPrevias = []
        	this.anotaciones  = ''
          this.getHistorialPaciente()
          this.validarSuccess( response.body.message )
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      subirFotosServidor( ){
        let formData = new FormData();

        for( const i in this.vistaPrevias ){
          formData.append('file', this.vistaPrevias[i].file )
        }

        return new Promise((resolve,reject)=>{
          // obtener la extensión del archivo
          // Hacemos la petición
          this.$http.post('evidencia.cita.add', formData ).then(response=>{
            resolve( response )
          }).catch( error =>{
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        })
      },

      cargarFotos(){
        if(this.files.length < 1){
          return
        }

        this.files.forEach((element, index) => {
          // creamos una variable tipo FormData
          let formData = new FormData();
          //se crea el objeto y se le agrega como un apendice el archivo 
          formData.append('file', element);
          //mandamos a ocvertir la imagen a base64 pero mandamos el docuemnto, el formdata, el nombre
          this.getBase64(element, formData)
        })
      },

      getBase64(file, formData) {
        var me = this
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          console.log(file)
          me.vistaPrevias.push({
            url: reader.result, 
            formData: formData, 
            image_name: file.name,
            file
          })
        };
      },

      eliminarFoto(value){
        this.vistaPrevias.forEach((element, index)=>{
          if(element.url == value){
            this.vistaPrevias.splice(index,1);
          }
        })
      },

    },
  }
</script>
<style>
  .lateral .v-btn--example {
    bottom: 0;
    position: absolute;
    margin: 0 0 16px 16px;
    padding: 0px !important;
    min-width: 50px !important;
  }

  .lateral .v-btn--descuento{
    bottom: 0;
    position: absolute;
    margin: 0 0 0px 0px;
    min-width: 50px !important;
    z-index: 1;
  }

</style>