<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogCita.estatus"
      transition="dialog-bottom-transition"
      max-width="600"
      persistent
    >
	  	<!-- CONTENEDOR -->
	  	<v-card>
        <!-- Titulo del proceso en el que se encuentra -->
	  		<v-card-title class="text-h6 font-weight-regular justify-space-between">
	  		  <span>{{ currentTitle }}</span>
          <v-avatar
            color="primary"
            class="subheading white--text"
            size="24"
            v-text="step"
          ></v-avatar>
	  		</v-card-title>

        <!-- Contenido de los procesos que se van a realizar -->
        <v-window v-model="step">

          <v-window-item :value="1">
            <v-card-text>
              <v-row>

                <!-- Seleccionar al paciente que tomará la terapia -->
                <v-col cols="12">
                  <label>Paciente</label>
                  <v-autocomplete
                    dense
                    v-model="paciente"
                    :items="pacientes"
                    item-text="nombre_completo"
                    item-value="idusuarios"
                    hide-details
                    single-line
                    placeholder="paciente..."
                    filled
                  >
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" lg="6">
                  <label>Coordinación</label>
                  <v-autocomplete
                    dense
                    single-line
                    placeholder="Hidroterapia..."
                    v-model="coordinacion"
                    :items="coordinaciones"
                    label="Coordinación"
                    item-text="coordinacion"
                    item-value="idcoordinaciones"
                    hide-details
                    filled
                  >
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" lg="6">
                  <label>Terapeuta</label>
                  <v-autocomplete
                    dense
                    single-line
                    placeholder="Persona encargada..."
                    v-model="terapeuta"
                    :items="filterTerapeutas"
                    label="Terapeuta"
                    item-text="nombre_completo"
                    item-value="idusuarios"
                    hide-details
                    filled
                  >
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" md="6">
                  <v-autocomplete
                    dense
                    v-model="servicio"
                    :items="servicios"
                    label="Servicio"
                    item-text="servicio"
                    item-value="idservicios"
                    hide-details
                    filled
                    return-object
                  >
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" md="6">
                  <v-text-field
                    dense
                    readonly
                    v-model="costo"
                    label="Costo"
                    hide-details
                    filled
                  >
                  </v-text-field>
                </v-col>

              </v-row>
            </v-card-text>
          </v-window-item>

          <v-window-item :value="2">
            <v-card-text class="mb-4">
              <label>Repetir cada: </label>
              <v-row>
                <v-col cols="12" md="2">
                  <v-text-field
                    dense
                    single-line
                    v-model="repeticion"
                    type="number"
                    filled
                  >
                  </v-text-field>
                </v-col>

                <v-col cols="12" md="3">
                  <v-select
                    dense
                    single-line
                    placeholder=""
                    v-model="periocidad"
                    :items="['Día','Semana','Mes','Año']"
                    filled
                  >
                  </v-select>
                </v-col>
              </v-row>

              <label>Se repite cada: </label>
              <v-row class="mb-2">
                <v-col cols="12" v-if="periocidad == 'Día'">
                  Diariamente
                </v-col>

                <v-col cols="12" v-if="periocidad == 'Semana'">
                  <v-chip-group
                    v-model="dias"
                    column
                    multiple
                    small
                    active-class="primary"
                  >
                    <v-chip
                      v-for="dia in diasSemana"
                      :key="dia"
                    >
                      {{ dia }}
                    </v-chip>
                  </v-chip-group>
                </v-col>

                <v-col cols="12" v-if="periocidad == 'Mes'" sm="4">
                  <label v-if="periocidad == 'Mes'" class="ml-2 mt-2">Cada mes el día: </label>
                  <v-text-field
                    dense
                    single-line
                    v-model="numeroDia"
                    type="number"
                    filled
                  >
                  </v-text-field>
                </v-col>

                <v-col cols="12" v-if="periocidad == 'Año'">
                  Anualmente
                </v-col>
              </v-row>




              <v-row>
                <v-col cols="12" md="4">
                  <label>Inicia el: </label>
                  <v-text-field
                    dense
                    single-line
                    v-model="fecha_cita"
                    type="date"
                    filled
                  >
                  </v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                  <label>Termina el: </label>
                  <v-text-field
                    dense
                    single-line
                    v-model="fecha_limite"
                    type="date"
                    filled
                  >
                  </v-text-field>
                </v-col>
              </v-row>


              <label>Horario</label>
              <v-row>
                <v-col cols="12" md="4">
                  <v-text-field
                    label="Hora inicio"
                    filled
                    type="time"
                    v-model="hora_inicio"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field
                    label="Hora final"
                    filled
                    type="time"
                    v-model="hora_final"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>
          </v-window-item>

          <v-window-item :value="3">
            <div class="pa-4 text-center">
              <v-img
                class="mb-4"
                contain
                height="128"
                src="https://cdn.vuetifyjs.com/images/logos/v.svg"
              ></v-img>
              <h3 class="text-h6 font-weight-light mb-2">
                Welcome to Vuetify
              </h3>
              <span class="text-caption grey--text">Thanks for signing up!</span>
            </div>
          </v-window-item>
        </v-window>

        <v-divider></v-divider>


        <v-card-actions>

          <v-btn
            color="black"
            small
            tile
            dark
            @click="dialogCita.estatus = false"
            v-if="step == 1"
          >
            <v-icon small left>mdi-cancel</v-icon>
            Cancelar
          </v-btn>

          <v-btn
            :disabled="step === 1"
            @click="step--"
            tile
            small
            v-if="step > 1"
          >
            <v-icon small left >mdi-arrow-left</v-icon>
            Regresar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :disabled="step === 2"
            color="primary"
            depressed
            @click="step++"
            tile
            small
            v-if="step < 2"
          >
            Siguiente
            <v-icon small right >mdi-arrow-right</v-icon>
          </v-btn>
          
          <v-btn
            color="green"
            small
            tile
            dark
            v-if="step == 2"
            @click="agregarCita( )"
          >
            <v-icon small left>mdi-content-save</v-icon>
            Agendar
          </v-btn>
        </v-card-actions>
	  	</v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-row>
</template>

<script>

	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';


  import validarErrores        from '@/mixins/validarErrores'

  export default {
  	components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    props:[
      'dialogCita',
    ],

    data: () => ({

    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      fecha_cita   : (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10), 
			hora_inicio  : null,
			hora_final   : null,
			paciente     : null,
			coordinacion : null,
			terapeuta    : null,
      servicio     : null, 

      costo: 0,

			pacientes      : [],
			terapeutas     : [],
			coordinaciones : [],
      servicios      : [],
      step: 1,
      repeticion:1,
      periocidad: 'Semana',
      dias: [],
      diasSemana: ['L','M','X','J','V','S','D'],
      numeroDia: 1,
      fecha_limite: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    }),

    async created () {
    	await this.getPacientes()
    	await this.getTerapeutas()
      await this.getCoordinaciones()
    	await this.getServicios()
    },

    watch:{
      servicio( val ){
        if( val ){ this.costo = val.costo }
      },

      dias( val ){
        console.log( val )
      }
    },

    mounted () {
    	
    },

    computed: {
    	...mapGetters("UsuarioHope", ["getUsuarioHope", "getLogeadoHope"]),

    	filterTerapeutas( ){
    		return this.terapeutas.filter( el => { return el.idcoordinaciones == this.coordinacion })
    	},

      currentTitle () {
        switch (this.step) {
          case 1: return 'Seleccionar paciente'
          case 2: return 'Configurar horario'
          default: return 'Account created'
        }
      },
    },

    methods: {

    	getPacientes () {
      	this.cargar = true
        this.pacientes = []
        return this.$http.get('usuarios.pacientes').then(response=>{
        	this.pacientes = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getTerapeutas () {
      	this.cargar = true
        this.terapeutas = []
        return this.$http.get('usuarios.terapeutas').then(response=>{
        	this.terapeutas = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getCoordinaciones () {
      	this.cargar = true
        this.coordinaciones = []
        return this.$http.get('coordinaciones.get').then(response=>{
        	this.coordinaciones = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getServicios () {
        this.cargar = true
        this.servicios = []
        return this.$http.get('servicios.get').then(response=>{
          this.servicios = response.body
          this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },


      agregarCita ( ) {
      	const payload = {
      		id_terapeuta   : this.terapeuta,
					id_paciente    : this.paciente,
					fecha_cita     : this.fecha_cita,
					hora_inicio    : this.hora_inicio,
					hora_final     : this.hora_final,
					idcoordinacion : this.coordinacion,
          idservicios    : this.servicio ? this.servicio.idservicios : 0,
          costo          : this.servicio ? this.servicio.costo : 0,
          repeticion     : this.repeticion,
          periocidad     : this.periocidad,
          dias           : this.dias,
          diasSemana     : this.diasSemana,
          numeroDia      : this.numeroDia,
          fecha_limite   : this.fecha_limite,
      	}

        console.log( payload )

      	this.cargar = true
      	this.$http.post('agenda.citas.add', payload ).then(response=>{
      		this.fecha_cita  = null
      		this.hora_inicio = null 
      		this.hora_final  = null
      		this.paciente    = null
        	this.validarSuccess( response.body.message )
          this.$emit('initialize')
          this.dialogCita.estatus = false
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },
    },
  }
</script>
<style>
  .lateral .v-btn--example {
    bottom: 0;
    position: absolute;
    margin: 0 0 16px 16px;
    padding: 0px !important;
    min-width: 50px !important;
  }

  .lateral .v-btn--descuento{
    bottom: 0;
    position: absolute;
    margin: 0 0 0px 0px;
    min-width: 50px !important;
    z-index: 1;
  }

</style>