<template>
	<v-container class="mt-4 ml-2" fluid>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="shadowCard">
	  		  <v-card-title primary-title>
	  		    <span class="text-subtitle-1">Alumnos</span>
	  		    <v-spacer></v-spacer>

	  		    <v-btn
              color="primary"
              dark
              class="mr-2"
              @click="dialog = true"
              small
              tile
            >
              <v-icon left small>mdi-plus</v-icon>
              Agregar
            </v-btn>

            <v-btn
              color="orange"
              dark
              @click="initialize()"
              small
              tile
            >
              <v-icon left small>mdi-refresh</v-icon>
              Actualizar
            </v-btn>

	  		  </v-card-title>
	  		  <v-card-text>
	  		  	<v-row justify="end">
	  		  		<v-col cols="12" md="6" lg="4">
	  		  			<v-text-field
	  		  			  name="name"
	  		  			  label="Buscar"
	  		  			  id="id"
	  		  			  filled
	  		  			  dense
	  		  			  hide-details
	  		  			  rounded
	  		  			  append-icon="mdi-magnify"
	  		  			  v-model="search"
	  		  			  single-line
	  		  			></v-text-field>
	  		  		</v-col>
	  		  	</v-row>
	  		    <v-row>
	  		    	<v-col cols="12">
							  <v-data-table
							    :headers="headers"
							    :items="usuarios"
							    class="elevation-0"
							    :search="search"
							    :page.sync="page"
			            @page-count="pageCount = $event"
							    :mobile-breakpoint="100"
			            hide-default-footer
			            dense
							  >

                  <!-- Valores que ocupan botons, chips, iconos, etc -->
                  <template v-slot:item.nombre_completo="{ item }">
                    {{ item.nombre_completo }}
                  </template>

                  <!-- Valores que ocupan botons, chips, iconos, etc -->
                  <template v-slot:item.sexo="{ item }">
                    <span>{{ item.sexo == 1 ? 'Hombre' : 'Mujer' }}</span>
                  </template>

							    <!-- Valores que ocupan botons, chips, iconos, etc -->
							    <template v-slot:item.estatus="{ item }">
							      <v-chip 
							      	v-if="item.estatus == 1"
							      	small
							      	color="green"
							      	dark
							      >Activo</v-chip>

							      <v-chip 
							      	v-else
							      	small
							      	color="error"
							      	dark
							      >Inactivo</v-chip>
							    </template>
							  

							    <template v-slot:item.actions="{ item }">
                    <!-- EDITAR -->
							    	<v-btn 
							    		color="primary" 
							    		x-small
							    		@click="editItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small>mdi-magnify</v-icon>
							    	</v-btn>

							    	<!-- ELIMINAR -->
							    	<v-btn 
							    		color="error" 
							    		x-small
							    		@click="deleteItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small> mdi-delete</v-icon>
							    	</v-btn>
							    </template>

							    <template v-slot:no-data>
							      <v-btn
							        color="primary"
							        @click="initialize"
							        small
							      >
							        Actualizar
							      </v-btn>
							    </template>

							  </v-data-table>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>
	  		  <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialogo de editar o agregar-->
	  <v-dialog
      v-model="dialog"
      max-width="800px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <span class="text-subtitle-1">
          	<strong>ID: {{ editedItem.idusuarios }}</strong>
          </span>
        </v-card-title>

        <v-tabs v-model="tabs">
          
          <!-- DATOS GENERALES -->
          <v-tab class="text-capitalize" >
            <v-icon left>
              mdi-account
            </v-icon>
            Perfil
          </v-tab>

          <!-- Descuento -->
          <v-tab class="text-capitalize" v-if="editedIndex != -1">
            <v-icon left>
              mdi-account-check
            </v-icon>
            Permisos
          </v-tab>
          

          <!-- información del grupo -->
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-row>

                  <!-- nombres -->
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="editedItem.nombres"
                      label="Nombres"
                      filled
                      hide-details
                      dense
                    ></v-text-field>
                  </v-col>

                  <!-- Apellido paterno -->
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="editedItem.apellido_paterno"
                      label="Ap. Paterno"
                      filled
                      hide-details
                      dense
                    ></v-text-field>
                  </v-col>

                  <!-- Apellido Materno -->
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="editedItem.apellido_materno"
                      label="Ap. Materno"
                      filled
                      hide-details
                      dense
                    ></v-text-field>
                  </v-col>

                  <!-- EDAD -->
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="editedItem.edad"
                      label="Edad"
                      filled
                      type="number"
                      hide-details
                      dense
                    ></v-text-field>
                  </v-col>

                  <!-- SEXO -->
                  <v-col cols="12" md="4">
                    <v-radio-group
                      v-model="editedItem.sexo"
                      column
                      hide-details
                      dense
                      class="mt-0"
                    >
                      <v-radio
                        label="Hombre"
                        :value="1"
                      ></v-radio>
                      <v-radio
                        label="Mujer"
                        :value="2"
                      ></v-radio>
                    </v-radio-group>
                  </v-col>

                  <!-- CONTACTO DE EMERGENCIA -->
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="editedItem.contacto_emergencia"
                      label="Contácto emergencia"
                      filled
                      type="number"
                      hide-details
                      dense
                    ></v-text-field>
                  </v-col>

                  <!-- Contraseña -->
                  <v-col cols="12" md="6">
                    <v-textarea
                      v-model="editedItem.comentarios"
                      filled
                      rows="3"
                      label="comentarios"
                      dense
                    >
                    </v-textarea>
                  </v-col>

                  <v-col cols="12" md="6">
                    <v-card-text align="center" class="pa-0">

                      <!-- ARRASTRAR LA FOTO -->
                      <div v-if="!file && !editedItem.foto">
                        <div :class="['dropZone', dragging ? 'dropZone-over' : '']" @dragenter="dragging = true" @dragleave="dragging = false">
                          <div class="dropZone-info" @drag="onChange">
                            <span class="fa fa-cloud-upload dropZone-title"></span>
                            <span class="dropZone-title blue--text"><b>Arrastre el archivo para cargar</b></span>
                            <div class="dropZone-upload-limit-info">
                              <div>Extensión: png, jpg, jpeg, svg</div>
                              <div>Tamaño máximo: 10 MB</div>
                            </div>
                          </div>
                          <input type="file" @change="onChange">
                        </div>
                      </div>

                      <!-- ELIMINAR LA FOTO -->
                      <v-btn  
                        v-else 
                        color="red" 
                        class="mb-2" 
                        dense 
                        @click="removeFile, editedItem.foto = ''" 
                        fab 
                        small 
                        dark
                      > 
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>

                      <!-- VISTA PREVIA DE LA FOTO CARGADA -->
                      <v-img :src="vistaPrevia.url" v-if="vistaPrevia && !editedItem.foto" contain max-height="200"/>

                      <!-- FOTO CARGADA Y SUBIDA -->
                      <v-avatar
                        size="200"
                        color="transparent"
                        v-if="editedItem.foto != ''"
                      >
                        <v-img 
                          :src="url + editedItem.foto" 
                          alt="alt"
                        />
                      </v-avatar>

                    </v-card-text>
                  </v-col>

                  <v-col cols="12" sm="6" class="pt-0">
                    <v-switch 
                      label="¿Activo Si/No?"
                      hide-details
                      v-model="editedItem.estatus">
                    </v-switch>
                  </v-col>

                  <v-col cols="12" sm="6" class="pt-0">
                    <div class="text-subtitle-1"><b>Fecha alta:</b> {{ editedItem.fecha_creacion }}</div>
                    <div class="text-subtitle-1"><b>Fecha baja:</b> {{ editedItem.fecha_baja }}</div>
                  </v-col>

                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <!-- Descuentos -->
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-row>
                  <!-- TUTOR -->
                  <v-col cols="12" md="6">
                    <v-autocomplete
                      dense
                      v-model="editedItem.idtutores"
                      :items="tutores"
                      label="Tutor"
                      item-text="nombre_completo"
                      item-value="idusuarios"
                      hide-details
                      filled
                    >
                    </v-autocomplete>
                  </v-col>

                  <!-- Contraseña -->
                  <v-col cols="12" md="6">
                    <v-text-field
                      v-model="editedItem.parentesco"
                      label="Parentezco"
                      filled
                      hide-details
                      dense
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-divider class="my-6"></v-divider>

                <v-row>
                  <!-- TUTOR -->
                  <v-col cols="12" md="6">
                    <v-text-field
                      dense
                      v-model="editedItem.acceso1"
                      label="Acceso 1"
                      hide-details
                      filled
                    >
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" md="6">
                    <v-text-field
                      v-model="editedItem.parentezco1"
                      label="Parentezco"
                      filled
                      hide-details
                      dense
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <!-- TUTOR -->
                  <v-col cols="12" md="6">
                    <v-text-field
                      dense
                      v-model="editedItem.acceso2"
                      label="Acceso 2"
                      hide-details
                      filled
                    >
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" md="6">
                    <v-text-field
                      v-model="editedItem.parentezco2"
                      label="Parentezco"
                      filled
                      hide-details
                      dense
                    ></v-text-field>
                  </v-col>
                </v-row>

              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>

        

        <v-card-actions>
          <v-btn
            color="black"
            dark
            small
            class="text-capitalize"
            @click="close"
            tile
          >
            <v-icon small left>mdi-cancel</v-icon>
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="green"
            dark
            small
            class="text-capitalize"
            tile
            @click="save"
          >
            <v-icon small left>mdi-content-save</v-icon>
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialogo para eliminar -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
      	<v-card-text>
	      	<v-row justify="space-around">
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="text-subtitle-1" style="display: table-cell; vertical-align: middle;">
		      				<strong>Eliminar</strong> ¿Estás seguro que deseas eliminar el ciclo?
			      			<v-card-actions class="pt-6">
			      				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
			      			  <v-btn color="error" text  class="mr-2" @click="closeDelete()">No, cancelar</v-btn>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="#5C5C5C"  dark class="elevation-6"  @click="deleteItemConfirm()">Si</v-btn>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

    <HistorialPaciente    v-if="dialogHistorial.estatus"     :paciente="paciente"   :dialogHistorial="dialogHistorial"/>

	</v-container>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';
  import HistorialPaciente     from '@/components/paciente/HistorialPaciente.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'


  import leerImagenes          from '@/mixins/leerImagenes'


  export default {
  	components:{
      Alerta,
      carga,
      HistorialPaciente
    },

    mixins: [ validarErrores, funcionesExcel, leerImagenes ],

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: false,
      dialogDelete: false,
      
      editedIndex: -1,

      editedItem: {
        idusuarios:0,
				nombres:'',
        apellido_paterno:'',
				apellido_paterno:'',
				apellido_materno:'',
        edad:0,
        sexo:0,
        comentarios: '',
        foto:'',
				deleted: 0,
				idtutores:0,
        contacto_emergencia:'',
        acceso1:'',
        parentezco1:'',
        acceso2:'',
        parentezco2:'',
      },

      defaultItem: {
        idusuarios:0,
        nombres:'',
        apellido_paterno:'',
        apellido_paterno:'',
        apellido_materno:'',
        edad:0,
        sexo:0,
        comentarios: '',
        foto:'',
				deleted: 0,
				idtutores:0,
        contacto_emergencia:'',
        acceso1:'',
        parentezco1:'',
        acceso2:'',
        parentezco2:'',
      },

      // Filtros: 
      incio:null,
			fin:null,

      // tabla
			search:'',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      usuarios: [],
      headers: [
        { text: 'ID'            , value: 'idalumnos'          },
        { text: 'Nombre'        , value: 'nombre_completo'    },
        { text: 'Edad'          , value: 'edad'               },
        { text: 'Sexo'          , value: 'sexo'               },
        { text: 'Alta'          , value: 'fecha_creacion'     },
        { text: 'Actions'       , value: 'actions', sortable: false },
      ],

      archivos:null,
      vistaPrevia: null,
      dragging: false,
      file: '',
      url:'',

      dialogHistorial:{
        estatus: false
      },
      paciente:null,

      tutores:[],
      tabs: 0, 
    }),

    computed: {
    	...mapGetters('login',['getdatosUsuario']),

      formTitle () {
        return this.editedIndex === -1 ? 'Agregar Usuario' : 'Editar Usuario'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
      this.url = this.$http.options.root + "imagenes-hope/" 

      await this.initialize()
      await this.getTutores()
    },

    methods: {
      initialize () {
      	this.cargar = true
        this.usuarios = []
        return this.$http.get('usuarios.alumnos').then(response=>{
        	this.usuarios = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getTutores () {
      	this.cargar = true
        this.tutores = []
        return this.$http.get('usuarios.tutores').then(response=>{
        	this.tutores = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.usuarios.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.usuarios.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	this.cargar = true
        // Lo mandapos por el EP
        this.editedItem.deleted = 1
        this.$http.put('alumnos.update/' + this.editedItem.idalumnos, this.editedItem).then(response=>{
        	this.cargar = true
        	this.closeDelete()
        	this.initialize()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      async save () {
      	if(this.editedItem.nivel == ''){
      		this.validarErrorDirecto('Favor de llenar todos los campos')
      	}

      	// Cargamos al usuario que hizo el cambio
	      this.cargar = true

        // Si existe una foto, primero hay que agregar la foto
        if( this.file ){
          this.editedItem.foto = await this.grabarImagen( )
        }

        if (this.editedIndex > -1) {
	        // Lo mandapos por el EP
          this.$http.put('alumnos.update/' + this.editedItem.idalumnos, this.editedItem).then(response=>{
          	this.validarSuccess( response.body.message )
          	this.initialize()
          	this.close()
	        }).catch( error =>{
	          this.validarError( error )
	        }).finally( () => { this.cargar = false })

        } else {
	        // Lo mandapos por el EP
          this.$http.post('alumnos.add', this.editedItem).then(response=>{
          	this.initialize()
	        	this.cargar = false
        		this.close()
	        }).catch( error =>{
          	this.validarError( error )
        	}).finally( () => { this.cargar = false })
        }
      },


      grabarImagen( ){
        return new Promise((resolve,reject)=>{
          let formData = new FormData();
          //se crea el objeto y se le agrega como un apendice el archivo
          formData.append("file", this.file);

          this.$http.post("usuarios.foto", formData).then( response => {
            resolve( response.body.nombre ) 
          }).catch( error =>{
            this.validarError( error )
          }).finally( () => { this.cargar = false })
        })
      },

      verHistorialPaciente( value ){
        this.paciente = value
        this.dialogHistorial.estatus = true
      }

    },
  }
</script>
<style scoped>
  .dropZone {
    width: 100%;
    height: 150px;
    position: relative;
    border: 2px dashed #eee;
  }

  .dropZone:hover {
    border: 2px solid #D8D8D8;
  }

  .dropZone:hover .dropZone-title {
    color: #1975A0;
  }

  .dropZone-info {
    color: #A8A8A8;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  ..dropZone-title {
    color: #787878;
  }

  .dropZone input {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .dropZone-upload-limit-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .dropZone-over {
    background: #D8D8D8;
    opacity: 0.8;
  }

  .dropZone-uploaded {
    width: 80%;
    height: 200px;
    position: relative;
    border: 2px dashed #eee;
  }

  .dropZone-uploaded-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D8D8D8;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  .removeFile {
    width: 200px;
  }
</style>


