<template>
	<v-container class="mt-4 ml-2" fluid>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="shadowCard">
	  		  <v-card-title primary-title>
	  		    <span class="text-subtitle-1">Grupos</span>
	  		    <v-spacer></v-spacer>
	  		    <v-btn
              color="orange"
              dark
              class="mr-2"
              @click="initialize()"
              small
              rounded
            >
            	<v-icon left small>mdi-refresh</v-icon>
              Actualizar
            </v-btn>

	  		    <v-btn
              color="primary"
              dark
              @click="dialog = true"
              small
              rounded
            >
            	<v-icon left small>mdi-plus</v-icon>
              Agregar
            </v-btn>
	  		  </v-card-title>
	  		  <v-card-text>
	  		  	<v-row justify="end">
	  		  		<v-col cols="12" md="6" lg="4">
	  		  			<v-text-field
	  		  			  name="name"
	  		  			  label="Buscar"
	  		  			  id="id"
	  		  			  filled
	  		  			  dense
	  		  			  hide-details
	  		  			  rounded
	  		  			  append-icon="mdi-magnify"
	  		  			  v-model="search"
	  		  			  single-line
	  		  			></v-text-field>
	  		  		</v-col>
	  		  	</v-row>
	  		    <v-row>
	  		    	<v-col cols="12">
							  <v-data-table
							    :headers="headers"
							    :items="grupos"
							    class="elevation-0"
							    :search="search"
							    :page.sync="page"
			            @page-count="pageCount = $event"
							    :mobile-breakpoint="100"
			            hide-default-footer
			            dense
							  >

                  <!-- Valores que ocupan botons, chips, iconos, etc -->
                  <template v-slot:item.nombre_completo="{ item }">
                    {{ item.nombre_completo }}
                  </template>

                  <!-- Valores que ocupan botons, chips, iconos, etc -->
                  <template v-slot:item.sexo="{ item }">
                    <span>{{ item.sexo == 1 ? 'Hombre' : 'Mujer' }}</span>
                  </template>

							    <!-- Valores que ocupan botons, chips, iconos, etc -->
							    <template v-slot:item.estatus="{ item }">
							      <v-chip 
							      	v-if="item.estatus == 1"
							      	small
							      	color="green"
							      	dark
							      >Activo</v-chip>

							      <v-chip 
							      	v-else
							      	small
							      	color="error"
							      	dark
							      >Inactivo</v-chip>
							    </template>
							  

							    <template v-slot:item.actions="{ item }">

							    	<v-btn 
                      color="orange" 
                      x-small
                      @click="verAlumnos(item)"
                      class="mr-2"
                      dark
                    >
                      <v-icon small>mdi-clipboard-account-outline</v-icon>
                    </v-btn>

                    <!-- EDITAR -->
							    	<v-btn 
							    		color="primary" 
							    		x-small
							    		@click="editItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small>mdi-magnify</v-icon>
							    	</v-btn>

							    	<!-- ELIMINAR -->
							    	<v-btn 
							    		color="error" 
							    		x-small
							    		@click="deleteItem(item)"
							    		class="mr-2"
							    	>
								      <v-icon small> mdi-delete</v-icon>
							    	</v-btn>
							    </template>

							    <template v-slot:no-data>
							      <v-btn
							        color="primary"
							        @click="initialize"
							        small
							      >
							        Actualizar
							      </v-btn>
							    </template>

							  </v-data-table>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>
	  		  <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialogo de editar o agregar-->
	  <v-dialog
      v-model="dialog"
      max-width="600px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <span class="text-subtitle-1">
          	<strong>ID: {{ editedItem.idgrupos }}</strong>
          </span>
        </v-card-title>

        <v-card-text>
          <v-row>

            <!-- nombres -->
          	<v-col cols="12">
              <v-text-field
                v-model="editedItem.grupo"
                label="Grupo"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <!-- Apellido paterno -->
            <v-col cols="12" md="6">
              <v-text-field
                v-model="editedItem.hora_inicio"
                label="Hora inicio"
                filled
                hide-details
                dense
                type="time"
              ></v-text-field>
            </v-col>

            <!-- Apellido Materno -->
            <v-col cols="12" md="6">
              <v-text-field
                v-model="editedItem.hora_final"
                label="Hora final"
                filled
                hide-details
                dense
                type="time"
              ></v-text-field>
            </v-col>

            
            <!-- TUTOR -->
            <v-col cols="2">
              <v-checkbox
					      v-model="editedItem.lunes"
					      label="Lu"
					    ></v-checkbox>
					  </v-col>

            <v-col cols="2">
					    <v-checkbox
					      v-model="editedItem.martes"
					      label="Ma"
					    ></v-checkbox>
					  </v-col>

            <v-col cols="2">
					    <v-checkbox
					      v-model="editedItem.miercoles"
					      label="Mi"
					    ></v-checkbox>
					  </v-col>

            <v-col cols="2">
					    <v-checkbox
					      v-model="editedItem.jueves"
					      label="Ju"
					    ></v-checkbox>
					  </v-col>

            <v-col cols="2">
					    <v-checkbox
					      v-model="editedItem.viernes"
					      label="Vi"
					    ></v-checkbox>
					  </v-col>

            <v-col cols="2">
					    <v-checkbox
					      v-model="editedItem.sabado"
					      label="Sa"
					    ></v-checkbox>
					  </v-col>

            <v-col cols="2">
					    <v-checkbox
					      v-model="editedItem.donmingo"
					      label="Do"
					    ></v-checkbox>
            </v-col>

            <v-col cols="10">
            </v-col>

            <v-col cols="12">
              <v-autocomplete
                dense
                v-model="editedItem.idmaestros"
                :items="maestros"
                label="Maestro"
                item-text="nombre_completo"
                item-value="idusuarios"
                hide-details
                filled
              >
              </v-autocomplete>
            </v-col>

            <v-col cols="12">
              <v-textarea
              	v-model="editedItem.comentarios"
              	filled
              	rows="3"
              	label="comentarios"
              	dense
              >
              </v-textarea>
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="red"
            dark
            small
            class="text-capitalize"
            @click="close"
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="green"
            dark
            small
            class="text-capitalize"
            @click="save"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialogo para eliminar -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
      	<v-card-text>
	      	<v-row justify="space-around">
	      		<v-col cols="6">
	      			<v-card class="elevation-0" height="100%" style="display: table;">
		      			<div class="text-subtitle-1" style="display: table-cell; vertical-align: middle;">
		      				<strong>Eliminar</strong> ¿Estás seguro que deseas eliminar el ciclo?
			      			<v-card-actions class="pt-6">
			      				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
			      			  <v-btn color="error" text  class="mr-2" @click="closeDelete()">No, cancelar</v-btn>
			      			  <!-- Guardar la información  -->
			      			  <v-btn color="#5C5C5C"  dark class="elevation-6"  @click="deleteItemConfirm()">Si</v-btn>
			      			</v-card-actions>
		      			</div>
	      			</v-card>
	      		</v-col>
		      </v-row>
      	</v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog ver alumnos -->
    <v-dialog
      v-model="dialogAlumnos"
      transition="dialog-bottom-transition"
      max-width="1000"
      persistent
    >
	  	<!-- CONTENEDOR -->
	  	<v-card>
	  		<v-card-title primary-title>
	  		  Alumnos inscritos
	  		  <v-spacer></v-spacer>
	  		  <v-btn
            color="primary"
            dark
            @click="dialogAlumno = true"
            small
            rounded
            class="mr-2"
          >
          	<v-icon left small>mdi-plus</v-icon>
            Agregar
          </v-btn>

	  		  <v-btn fab small text @click="dialogAlumnos = false"><v-icon>mdi-close</v-icon></v-btn>
	  		</v-card-title>

	  		<v-card-text>

	  			<v-row v-if="dialogAlumno">
	  				<v-col cols="12" md="6">
              <v-autocomplete
                dense
                v-model="alumno"
                :items="alumnos"
                label="Alumno"
                item-text="nombre_completo"
                item-value="idalumnos"
                filled
                append-outer-icon="mdi-plus"
                @click:append-outer="addAlumno()"
              >
              </v-autocomplete>
            </v-col>
	  			</v-row>

	  			<v-data-table
				    :headers="headersAlumnos"
				    :items="alumnosInscritos"
				    class="elevation-0"
				    :search="searchAlumno"
            dense
				  >

				    <template v-slot:item.actions="{ item }">
				    	<!-- ELIMINAR -->
				    	<v-btn 
				    		color="error" 
				    		x-small
				    		@click="deleteItem(item)"
				    		class="mr-2"
				    	>
					      <v-icon small> mdi-delete</v-icon>
				    	</v-btn>
				    </template>

				    <template v-slot:no-data>
				      <v-btn
				        color="primary"
				        @click="initialize"
				        small
				      >
				        Actualizar
				      </v-btn>
				    </template>

				  </v-data-table>
	  		</v-card-text>
	  	</v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

    <HistorialPaciente    v-if="dialogHistorial.estatus"     :paciente="paciente"   :dialogHistorial="dialogHistorial"/>

	</v-container>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';
  import HistorialPaciente     from '@/components/paciente/HistorialPaciente.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'


  import leerImagenes          from '@/mixins/leerImagenes'


  export default {
  	components:{
      Alerta,
      carga,
      HistorialPaciente
    },

    mixins: [ validarErrores, funcionesExcel, leerImagenes ],

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: false,
      dialogDelete: false,
      
      editedIndex: -1,

      editedItem: {
        idgrupos    : 0,
				grupo       : '',
				comentarios : '',
				hora_inicio : null,
				hora_final  : null,
				lunes       : 0,
				martes      : 0,
				miercoles   : 0,
				jueves      : 0,
				viernes     : 0,
				sabado      : 0,
				domingo     : 0,
				idmaestros  : 0,
				deleted     : 0,
      },

      defaultItem: {
        idgrupos    : 0,
				grupo       : '',
				comentarios : '',
				hora_inicio : null,
				hora_final  : null,
				lunes       : 0,
				martes      : 0,
				miercoles   : 0,
				jueves      : 0,
				viernes     : 0,
				sabado      : 0,
				domingo     : 0,
				idmaestros  : 0,
				deleted     : 0,
      },

      // Filtros: 
      incio:null,
			fin:null,

      // tabla
			search:'',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      grupos: [],
      headers: [
        { text: 'ID'            , value: 'idgrupos'      },
        { text: 'Grupo'         , value: 'grupo'         },
        { text: 'Maestro'       , value: 'maestro'       },
        { text: 'Hora inicio'   , value: 'hora_inicio'   },
        { text: 'Hora final'    , value: 'hora_final'    },
        { text: 'Alta'          , value: 'fecha_creacion'},
        { text: 'Actions'       , value: 'actions', sortable: false },
      ],

      archivos:null,
      vistaPrevia: null,
      dragging: false,
      file: '',
      url:'',

      dialogHistorial:{
        estatus: false
      },
      paciente:null,

      maestros:[],

      grupo: null,
      alumnosInscritos:[],
      dialogAlumnos:false,

      headersAlumnos: [
        { text: 'ID'            , value: 'idalumnos'      },
        { text: 'Alumno'        , value: 'alumno'         },
        { text: 'Alta'          , value: 'fecha_creacion'},
        { text: 'Actions'       , value: 'actions', sortable: false },
      ],
			searchAlumno:'',
			dialogAlumno:false,
			alumno:null
    }),

    computed: {
    	...mapGetters('login',['getdatosUsuario']),

      formTitle () {
        return this.editedIndex === -1 ? 'Agregar Grupo' : 'Editar Grupo'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
      this.url = this.$http.options.root + "imagenes-hope/" 

      await this.initialize()
      await this.getMaestros()
      await this.getAlumnos()
    },

    methods: {
      initialize () {
      	this.cargar = true
        this.grupos = []
        return this.$http.get('grupos.get').then(response=>{
        	this.grupos = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getMaestros () {
      	this.cargar = true
        this.maestros = []
        return this.$http.get('usuarios.maestros').then(response=>{
        	this.maestros = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      getAlumnos () {
      	this.cargar = true
        this.alumnos = []
        return this.$http.get('usuarios.alumnos').then(response=>{
        	this.alumnos = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },


      editItem (item) {
        this.editedIndex = this.grupos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.grupos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	this.cargar = true
        // Lo mandapos por el EP
        this.editedItem.deleted = 1
        this.$http.put('grupos.update/' + this.editedItem.idgrupos, this.editedItem).then(response=>{
        	this.cargar = true
        	this.closeDelete()
        	this.initialize()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      async save () {
      	// Cargamos al usuario que hizo el cambio
	      this.cargar = true

        if (this.editedIndex > -1) {
	        // Lo mandapos por el EP
          this.$http.put('grupos.update/' + this.editedItem.idgrupos, this.editedItem).then(response=>{
          	this.validarSuccess( response.body.message )
          	this.initialize()
          	this.close()
	        }).catch( error =>{
	          this.validarError( error )
	        }).finally( () => { this.cargar = false })

        } else {
	        // Lo mandapos por el EP
          this.$http.post('grupos.add', this.editedItem).then(response=>{
          	this.initialize()
	        	this.cargar = false
        		this.close()
	        }).catch( error =>{
          	this.validarError( error )
        	}).finally( () => { this.cargar = false })
        }
      },

      verAlumnos( value ){
        this.grupo = value

				this.cargar = true
        this.alumnosInscritos = []
				
				this.$http.post('grupos.alumnos', value).then(response=>{
        	this.alumnosInscritos   = response.body
        	this.dialogAlumnos      = true
        	this.cargar             = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      addAlumno( ){
      	const existeAlumno = this.alumnosInscritos.find( el => el.idalumnos == this.alumno )

      	if( existeAlumno ){ return this.validarErrorDirecto('El alumno ya existe') }

    		const payload = {
    			idalumnos: this.alumno,
    			idgrupos : this.grupo.idgrupos
    		}

    		this.$http.post('grupos.add.alumno', payload ).then(response=>{
      		this.alumno        = null
      		this.dialogAlumno  = false
        	this.cargar        = false
        	this.verAlumnos( this.grupo )
        }).catch( error =>{
        	this.validarError( error )
      	}).finally( () => { this.cargar = false })

      }

    },
  }
</script>
<style scoped>
  .dropZone {
    width: 100%;
    height: 150px;
    position: relative;
    border: 2px dashed #eee;
  }

  .dropZone:hover {
    border: 2px solid #D8D8D8;
  }

  .dropZone:hover .dropZone-title {
    color: #1975A0;
  }

  .dropZone-info {
    color: #A8A8A8;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  ..dropZone-title {
    color: #787878;
  }

  .dropZone input {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .dropZone-upload-limit-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .dropZone-over {
    background: #D8D8D8;
    opacity: 0.8;
  }

  .dropZone-uploaded {
    width: 80%;
    height: 200px;
    position: relative;
    border: 2px dashed #eee;
  }

  .dropZone-uploaded-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D8D8D8;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
  }

  .removeFile {
    width: 200px;
  }
</style>


