<template>
	<v-container class="mt-4 ml-2" fluid>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="shadowCard">
	  		  <v-card-title primary-title>
	  		    <span class="text-subtitle-1">Mi Agenda</span>
	  		    <v-spacer></v-spacer>
	  		    
	  		    <v-btn
              color="green"
              dark
              @click="dialogAgenda.estatus = true"
              class="mr-2"
              small
              tile
            >
              <v-icon left small>mdi-calendar</v-icon>
              Calendario
            </v-btn>

            <v-btn
              color="orange"
              dark
              @click="initialize()"
              small
              tile
            >
              <v-icon left small>mdi-refresh</v-icon>
              Actualizar
            </v-btn>
            
	  		  </v-card-title>
	  		  <v-card-text>
	  		  	<v-row justify="end">
	  		  		<v-col cols="12" md="6" lg="4">
	  		  			<v-text-field
	  		  			  name="name"
	  		  			  label="Buscar"
	  		  			  id="id"
	  		  			  filled
	  		  			  dense
	  		  			  hide-details
	  		  			  rounded
	  		  			  append-icon="mdi-magnify"
	  		  			  v-model="search"
	  		  			  single-line
	  		  			></v-text-field>
	  		  		</v-col>
	  		  	</v-row>
	  		    <v-row>
	  		    	<v-col cols="12">
							  <v-data-table
							    :headers="headers"
							    :items="agenda"
							    class="elevation-0"
							    :search="search"
							    :page.sync="page"
			            @page-count="pageCount = $event"
							    :mobile-breakpoint="100"
			            hide-default-footer
			            dense
							  >
							    <!-- Valores que ocupan botons, chips, iconos, etc -->
							    <template v-slot:item.estatus="{ item }">
							      <v-chip 
							      	v-if="item.estatus == 1"
							      	small
							      	color="green"
							      	dark
							      >Si</v-chip>

							      <v-chip 
							      	v-else
							      	small
							      	color="error"
							      	dark
							      >No</v-chip>
							    </template>

                  <template v-slot:item.actions="{ item }">
                    <v-btn 
                      color="orange" 
                      x-small
                      @click="verHistorialPaciente(item)"
                      class="mr-2"
                      dark
                    >
                      <v-icon small>mdi-clipboard-account-outline</v-icon>
                    </v-btn>
                  </template>
							  
							    <template v-slot:no-data>
							      <v-btn
							        color="primary"
							        @click="initialize"
							        small
							      >
							        Actualizar
							      </v-btn>
							    </template>

							  </v-data-table>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>
	  		  <v-card-actions>
            <v-spacer></v-spacer>
            <v-pagination
              circle
              v-model="page"
              :length="pageCount"
              :total-visible="7"
            ></v-pagination>
          </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialogo de editar o agregar-->
	  <v-dialog
      v-model="dialog"
      max-width="400px"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-subtitle-1">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <span class="text-subtitle-1">
          	<strong>ID: {{ editedItem.idagenda }}</strong>
          </span>
        </v-card-title>

        <v-card-text>
          <v-row>
          	<v-col cols="12">
              <v-text-field
                v-model="editedItem.nivel"
                label="Nivel"
                filled
                hide-details
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" class="pt-0">
            	<v-switch 
            		label="¿Activo Si/No?"
                hide-details
            		v-model="editedItem.estatus">
            	</v-switch>
            </v-col>

            <v-col cols="12" sm="6" class="pt-0">
            	<div class="text-subtitle-1"><b>Fecha alta:</b> {{ editedItem.fecha_creacion }}</div>
            </v-col>

          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="red"
            small
            rounded
            dark
            @click="close"
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            small
            rounded
            dark
            @click="save"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialogo para eliminar -->
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
      	<v-card-title primary-title>
      	  <div class="text-subtitle-1" style="display: table-cell; vertical-align: middle;">
    				<strong>Eliminar</strong> ¿Estás seguro que deseas eliminar el dato?
    			</div>
      	</v-card-title>
      	<v-card-actions>
  				<!-- Cerrar dialogo de confirmación y abrir el dialogo de editar la clase -->
  			  <v-btn color="error" text  class="mr-2" @click="closeDelete()">No, cancelar</v-btn>
  			  <!-- Guardar la información  -->
  			  <v-spacer></v-spacer>
  			  <v-btn color="#5C5C5C"  dark class="elevation-6"  @click="deleteItemConfirm()">Si</v-btn>
      	</v-card-actions>
      </v-card>
    </v-dialog>

    <AgendaPaciente v-if="dialogAgenda.estatus == true" :dialogAgenda="dialogAgenda" :agenda="agenda"/>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

    <HistorialPaciente    v-if="dialogHistorial.estatus"     :paciente="paciente"   :dialogHistorial="dialogHistorial"/>

	</v-container>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import NuevaCita             from '@/components/paciente/NuevaCita.vue';
  import AgendaPaciente        from '@/components/paciente/AgendaPaciente.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'

  import HistorialPaciente     from '@/components/paciente/HistorialPaciente.vue';

  export default {
  	components:{
      Alerta,
      carga,
      NuevaCita,
      AgendaPaciente,
      HistorialPaciente
    },

    mixins: [ validarErrores, funcionesExcel ],

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: false,
      dialogDelete: false,
      
      editedIndex: -1,

      editedItem: {
        idagenda:0,
				nivel:'',
				fecha_creacion:null,
				estatus:0,
				deleted: 0,
      },

      defaultItem: {
        idagenda:0,
				nivel:'',
				comentarios:'',
				fecha_creacion:null,
				estatus:0,
				deleted: 0,
      },

      // Filtros: 
      incio:null,
			fin:null,

      // tabla
			search:'',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      agenda: [],
      headers: [
        { text: 'ID'            , value: 'idagenda_citas'  },
        { text: 'Paciente'      , value: 'paciente'        },
        { text: 'Terapeuta'     , value: 'terapeuta'       },
        { text: 'Coordinación'  , value: 'coordinacion'    },
        { text: 'Teléfono'      , value: 'telefono'        },
        { text: 'Agenda'        , value: 'fecha_agenda'    },
        { text: 'Falta'         , value: 'restan'          },
        { text: 'Actions'       , value: 'actions', sortable: false },
      ],

			dialogCita: {
				estatus: false
			},
			dialogAgenda:{
				estatus: false
			},

      dialogHistorial:{
        estatus: false
      },
      paciente:null
    }),

    computed: {
    	...mapGetters('UsuarioHope',['getUsuarioHope']),

      formTitle () {
        return this.editedIndex === -1 ? 'Agregar Nivel' : 'Editar Nivel'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    async created () {
    	console.log( this.getUsuarioHope )
      await this.initialize()
    },

    methods: {
      initialize () {
      	this.cargar = true
        this.agenda = []
        return this.$http.get('agenda.citas.get/' + this.getUsuarioHope.idusuarios ).then(response=>{
        	this.agenda = response.body
        	this.cargar      = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.agenda.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.agenda.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
      	this.cargar = true
        // Lo mandapos por el EP
        this.editedItem.deleted = 1
        this.$http.put('agenda.citas.update/' + this.editedItem.idagenda_citas, this.editedItem).then(response=>{
        	this.cargar = true
        	this.closeDelete()
        	this.initialize()
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
      	if(this.editedItem.nivel == ''){
      		this.validarErrorDirecto('Favor de llenar todos los campos')
      	}

      	// Cargamos al usuario que hizo el cambio
	      this.cargar = true

        if (this.editedIndex > -1) {
	        // Lo mandapos por el EP
          this.$http.put('agenda.update/' + this.editedItem.idagenda, this.editedItem).then(response=>{
          	this.validarSuccess( response.body.message )
          	this.initialize()
          	this.close()
	        }).catch( error =>{
	          this.validarError( error )
	        }).finally( () => { this.cargar = false })

        } else {
	        // Lo mandapos por el EP
          this.$http.post('agenda.add', this.editedItem).then(response=>{
          	this.initialize()
	        	this.cargar = false
        		this.close()
	        }).catch( error =>{
          	this.validarError( error )
        	}).finally( () => { this.cargar = false })
        }
      },

      verHistorialPaciente( value ){
        this.paciente = value
        this.dialogHistorial.estatus = true
      }
    },
  }
</script>


