<template>
	<v-container class="mt-4 ml-2">
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="shadowCard">
	  		  <v-card-title>
	  		    Horarios de apertura
	  		    <v-spacer></v-spacer>
	  		    <v-btn color="primary" dark rounded small @click="initialize()" class="mr-2">Actualizar</v-btn>
	  		  </v-card-title>
	  		  <v-card-text class="py-0">
	  		    <div>
		  		    <!-- Disponibilidad -->
		  		    <v-row>
		  		    	<v-col cols="12" class="pb-0 pt-2">
		  		    		<v-card class="elevation-0 transparent">
		  		    		  <v-card-text class="mt-6">
		  		    		  	<v-row>
		  		    		  		<v-col cols="12" md="6" lg="4">
		  		    		  			<v-text-field
		  		    		  			  v-model="search"
		  		    		  			  label="Buscar"
		  		    		  			  rounded
		  		    		  			  filled
		  		    		  			  hide-details
		  		    		  			  append-icon="mdi-magnify"
		  		    		  			  dense
		  		    		  			></v-text-field>
		  		    		  		</v-col>
		  		    		  	</v-row>
		  		    		    <v-row>
		  		    		    	<v-col cols="12" sm="6" md="5" xl="4" v-for="(usuario, i) in filterUsuarios" :key="i">
		  		    		    		<v-card class="shadowCard">
			  		    		    		<v-card-title class="pb-0">
			  		    		    			<span class="text-h6">
			  		    		    		  	{{ usuario.nombre_completo }}
			  		    		    			</span>
			  		    		    		  <v-spacer></v-spacer>
			  		    		    		</v-card-title>

			  		    		    		<v-card-title class="pb-2">
			  		    		    			<span class="text-subtitle-1">
			  		    		    		  	<v-icon :color="usuario.color" left>mdi-checkbox-blank-circle</v-icon>{{ usuario.coordinacion }}
			  		    		    			</span>
			  		    		    		  <v-spacer></v-spacer>
			  		    		    		</v-card-title>

			  		    		    		<v-card-text>
															<v-data-table
															  dense
														    :headers="headers"
														    :items="usuario.horarios"
														    item-key="name"
														    class="elevation-0"
														    hide-default-footer
														    :items-per-page="100"
														    :mobile-breakpoint="200"
															>
														   </v-data-table>	    		    		  
			  		    		    		</v-card-text>
			  		    		    		<v-card-actions>
			  		    		    		  <v-btn 
			  		    		    		  	color="primary" 
			  		    		    		  	rounded 
			  		    		    		  	class="text-capitalize" 
			  		    		    		  	small
			  		    		    		  	@click="dialogHoraAdd( usuario )"
			  		    		    		  >
			  		    		    				Agregar Horarios
			  		    		    			</v-btn>
			  		    		    			<v-spacer></v-spacer>
			  		    		    		</v-card-actions>
		  		    		    		</v-card>
		  		    		    	</v-col>
		  		    		    </v-row>
		  		    		  </v-card-text>
		  		    		</v-card>
		  		    	</v-col>
		  		    </v-row>
	  		    </div>
	  		  </v-card-text>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <!-- Dialog de agregar horario -->
	  <v-dialog
      v-model="dialogHora"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title class="text-subtitle-1" >
          Horarios
        </v-card-title>
        <v-card-text>
        	<v-row v-for="(dia, i) in dias" :key="i">
        		<v-col cols="12" class="d-flex align-center">
		          <v-avatar
		            size="44"
		            color="primary"
		            rounded
		            class="elevation-1 mr-4 white--text"
		          >
		            {{ dia.diaNombre }}
		          </v-avatar>
		          <v-text-field
		            filled
		            v-model="dia.hora_inicio"
		            hide-details
		            dense
		            type="time"
		            class="mr-2"
		          ></v-text-field>

		          <v-text-field
		            filled
		            v-model="dia.hora_fin"
		            hide-details
		            dense
		            type="time"
		          ></v-text-field>
					  </v-col>
        	</v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="red" dark small rounded
            @click="dialogHora = false"
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="primary" dark small rounded
            @click="guardarHorario()"
          >
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Eliminar la hora -->
    <v-dialog v-model="dialogDeleteHora" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">Seguro que deseas eliminar esta hora?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDeleteHora = false">Cancelar</v-btn>
          <v-btn color="blue darken-1" text @click="deleteHora()">SI</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogEliminar" max-width="500px">
      <v-card>
        <v-card-title class="text-h6 align-center">
        	¿Deseas eliminar el horario de este usuario?
        </v-card-title>
        <v-card-actions>
          <v-btn color="primary" small rounded  @click="dialogEliminar = false">Cancelar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="red" small rounded dark @click="deleteUsuario()">SI</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    

		<!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

	</v-container>
</template>
<script>
	import { mapGetters } from 'vuex'
	// Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores  from '@/mixins/validarErrores'
  import funcionesExcel  from '@/mixins/funcionesExcel'


	var moment = require('moment');
  moment.locale(); 

  export default {
		
		components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores, funcionesExcel ],

    data: () => ({
    	// Alertas
    	parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      search:'',
      usuario:null, 
      usuarios:[],
      dialogRelacionar: false,
      dialogHora: false,
      dialogEliminar:false,

      trabajador:null,
      trabajadores:[],
			horariosApertura:[],

			planteles:[],

      headers: [
        { text: 'Día'       , value: 'diaNombre' },
        { text: 'Inicio'    , value: 'hora_inicio' },
        { text: 'Fin'       , value: 'hora_fin' },
      ],

      dias:[
      	{ dia: 1, diaNombre:'Lu', valor: 1, hora_inicio: null, hora_fin: null },
      	{ dia: 2, diaNombre:'Ma', valor: 2, hora_inicio: null, hora_fin: null },
      	{ dia: 3, diaNombre:'Mi', valor: 3, hora_inicio: null, hora_fin: null },
      	{ dia: 4, diaNombre:'Ju', valor: 4, hora_inicio: null, hora_fin: null },
      	{ dia: 5, diaNombre:'Vi', valor: 5, hora_inicio: null, hora_fin: null },
      	{ dia: 6, diaNombre:'Sá', valor: 6, hora_inicio: null, hora_fin: null },
      	{ dia: 7, diaNombre:'Do', valor: 7, hora_inicio: null, hora_fin: null }
      ],

			dialogHoraEditar: false,
			dia:'',
			dialogDeleteHora:false,
			idhorarios_apertura:null
    }),

    async created ( ) {
    	await this.initialize()
    },

    computed: {
    	filterUsuarios( ){
    		if( this.search ){
    			return this.usuarios.filter( el => {
    				let nombre_completo = el.nombre_completo.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,"")
    				const buscar        = this.search.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g,"")
    				// return nombre_completo.match(buscar) && el.unidad_negocio == 2;
    				return nombre_completo.match(buscar);
    			})
    		}else{
    			return this.usuarios
    		}
    	}
    },

    methods:{

    	initialize () {
    		this.usuarios = []
    		this.cargar = true
    		this.$http.get('usuarios.terapeutas').then(response=>{
    			this.usuarios     = response.body
    		}).catch(error=>{ 
    			this.validarError( error )
    		}).finally( () =>{ this.cargar = false } )
    	},


			deleteItem (value) {
				this.idhorarios_apertura = value.idhorarios_apertura
				this.dialogDeleteHora = true
			},

			deleteHora () {
				this.$http.delete('horario.apertura.delete/' + this.idhorarios_apertura).then(response=>{
					this.dialogDeleteHora = false
	        this.validarSuccess( response.body.message )
				}).catch(error=>{ 
    			this.validarError( error )
    		}).finally( () =>{ this.cargar = false } )
			},

			dialogHoraAdd( usuario ){
				this.usuario    = usuario
				if( this.usuario.horarios.length ){
					for( const i in this.dias ){
						const { dia } = this.dias[i]

						// Validar si existe ese día en la configuración
						const existeDia = this.usuario.horarios.find( el => el.dia == dia )

						if( dia ){
							const { hora_inicio, hora_fin } = existeDia

							this.dias[i].hora_inicio = hora_inicio
							this.dias[i].hora_fin    = hora_fin
						}

					}
				}
				console.log( usuario )
				this.dialogHora = true
			},
			
			dialogEliminarUsuario( usuario ){
				this.usuario = usuario
				this.dialogEliminar = true
			},

			deleteUsuario () {
				this.$http.delete('apertura.usuario/' + this.usuario.id_usuario ).then(response=>{
					this.dialogEliminar = false
	        this.validarSuccess( response.body.message )
				}).catch(error=>{ 
    			this.validarError( error )
    		}).finally( () =>{ this.cargar = false } )
			},

			guardarHorario () {
				this.cargar = true
				const payload = {
					id_usuario: this.usuario.idusuarios,
					dias:       this.dias
				}

				this.$http.post('configuracion.terapeuta.add', payload).then(response=>{
					this.usuario          = null
					this.dialogHora       = false
					this.validarSuccess( response.body.message )
					this.initialize()
	      }).catch(error=>{ 
    			this.validarError( error )
    		}).finally( () =>{ this.cargar = false } )
			},

			updateSucursal( value ){
				console.log( value) 
				this.cargar = true

				this.$http.post('actualizar.sucursal.apertura', value).then(response=>{
					this.usuario          = null
					this.trabajador       = null
					this.dialogHora       = false
					this.validarSuccess( response.body.message )
	      }).catch(error=>{ 
    			this.validarError( error )
    		}).finally( () =>{ this.cargar = false } )
			},
			
			updateEstatus ( value ) {
				this.cargar = true
				const payload = {
					id_usuario: value.id_usuario,
					estatus:    value.activo
				}

				this.$http.put('apertura.usuario.update/', payload).then(response=>{
					this.validarSuccess( response.body.message )
	      }).catch(error=>{ 
    			this.validarError( error )
    		}).finally( () =>{ this.cargar = false } )
			},

    }
  }
</script>