<template>
  <v-app>
    <v-app-bar app color="primary" dark height="56px" v-if="getLogeadoHope">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      Panel de capacitación
      <v-spacer></v-spacer>
      <v-btn color="white" icon @click="salir"><v-icon>mdi-exit-to-app</v-icon></v-btn>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="mini"
      app
      v-if="getLogeadoHope"
    >
      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-img :src="avatar + getUsuarioHope.nombre_completo "></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>
            {{ getUsuarioHope.nombre_completo }}
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ getUsuarioHope.nivel }}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-btn icon @click.stop="mini = !mini">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>

        <v-list-group
          v-for="item in menu"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.icon"
          no-action
        >
          <!-- TITULO EN GENERAL -->
          <template v-slot:activator>
            <v-list-item-content> 
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="subitem in item.items"
            :key="subitem.title"
            :to="{ name: subitem.path }"
          >
            <v-list-item-icon>
              <v-icon color="primary">mdi mdi-circle-medium theme--light</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="subitem.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "App",

  data: () => ({
    drawer: true,
    items: [],

    menuCapacitado: [],
    mini: false,
    avatar: "",
  }),

  methods:{
    ...mapActions('UsuarioHope',['guardarInfo','salirLogin']),

    salir () {
      this.$router.push({name: 'Login'})
      this.salirLogin()
    }
  },

  created() {
    this.avatar ="https://ui-avatars.com/api/?background=1976d2&color=fff&rounded=true&format=svg&name=";
  },

  computed: {
    ...mapGetters("UsuarioHope", ["getUsuarioHope", "getLogeadoHope"]),

    menu(){

      // ADMINISTRADOR
      if( this.getUsuarioHope.idniveles == 1 ){
        return [
          { 
            title: "Administración", 
            icon: "mdi-google-classroom",
            active: false,
            items: [
              { title: "Usuarios"          , path: "Usuarios"      },
              { title: "Terapeutas"        , path: "Terapeutas"    },
              { title: "Pacientes"         , path: "Pacientes"     },
              { title: "Prospectos"        , path: "Prospectos"    },
              { title: "Niveles"           , path: "Niveles"       },
              { title: "Coordinaciones"    , path: "Coordinaciones"},
            ]
          },

          { 
            title: "Catálogos", 
            icon: "mdi-clipboard-text",
            active: false,
            items: [
              { title: "Servicios"          , path: "Servicios"      },
            ]
          },

          { 
            title: "Reportes", 
            icon: "mdi-chart-areaspline",
            active: false,
            items: [
              { title: "Ventas"          , path: "Ventas"      },
            ]
          },

          { 
            title: "Agenda",
            icon: "mdi-clipboard-list",
            active: false,
            items: [
              { title: "Agendar Cita"      , path: "Agenda" },
              { title: "Mi agenda"         , path: "MiAgenda" },
            ]
          },

          { 
            title: "Escuela", 
            icon: "mdi-school",
            active: false,
            items: [
              { title: "Maestros"  , path: "Maestros" },
              { title: "Grupos"    , path: "Grupos"   },
              { title: "Tutores"   , path: "Tutores"  },
              { title: "Alumnos"   , path: "Alumnos"  },
            ]
          },
        ]
      }

      // TERAPEUTA
      if( this.getUsuarioHope.idniveles == 2 ){
        return [
          { 
            title: "Catálogos",
            icon: "mdi-clipboard-list",
            active: false,
            items: [
              { title: "Pacientes"      , path: "Pacientes"},
            ]
          },

          { 
            title: "Agenda",
            icon: "mdi-clipboard-list",
            active: false,
            items: [
              { title: "Mi agenda"         , path: "MiAgenda" },
            ]
          },
        ]
      }

      if( this.getUsuarioHope.idniveles_capacitacion == 1 ){
        return [
          { title: "Mis Cursos "      , icon:  "mdi-book-education-outline", path:  "MisCursos" },
          { title: "Mensajes Usuario ", icon:  "mdi-message"               , path:  "MensajesUsuario" },
        ]
      }
    }
  },
};
</script>
<style>

  main{
    background: #F4F2F2 ;
  }

  .v-navigation-drawer__content::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  .v-data-table--fixed-header > .v-navigation-drawer__content::-webkit-scrollbar:vertical {
    width: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar:vertical{
    width: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar-button:increment,.v-navigation-drawer__content::-webkit-scrollbar-button{
    display: none;
  }

  .v-navigation-drawer__content::-webkit-scrollbar:horizontal{
    height: 8px !important;
  }

  .v-navigation-drawer__content::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }

  html{
    background: #F4F2F2;
  }

  .v-main__wrap{
    background: #F4F2F2 !important;
  }

  .v-application--is-ltr .v-list-item__icon:first-child{
    margin-right: 8px !important;
  }

  .v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__icon:last-of-type:not(:only-child) {
    margin-left: 6px !important;
  }


  .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
    align-self: center;
    margin: 0;
    min-width: 0px !important;
    justify-content: flex-end;
  }

  .shadowCard{
    border-radius: 8px !important; 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,0.2)  !important;
  }

  .v-application--is-ltr .v-list--dense.v-list--nav .v-list-group--no-action > .v-list-group__items > .v-list-item {
    padding-left: 10px !important;
  }


</style>
